<tr class='todo-insert'>
  <td class='todo-checkbox-td'>
      <i class="material-icons todo-checkbox">check_box_outline_blank</i>
    </td>
  <td class="todo-task">
    <div>
      <input type='text' class='add-todo-input' value='New Todo'>
    </div>
  </td>
  <td class='todo-drag-td'>
    <i class="material-icons todo-drag">drag_handle</i>
  </td>
</tr>