<li class='todo-insert todo-row'>
  <div class='todo-checkbox-div'>
      <i class="material-icons todo-checkbox">check_box_outline_blank</i>
    </div>
  <div class="todo-task">
    <div>
      <input type='text' class='add-todo-input' value='New Todo'>
    </div>
  </div>
  <div class='todo-drag-div'>
    <i class="material-icons todo-drag">drag_handle</i>
  </div>
</li>