<td class='todo-checkbox-td'>
  <i class="material-icons todo-checkbox">check_box_outline_blank</i>
</td>
<td class="todo-task">
  <div>
    <h2>FROM VIEW:<%- todo.task %></h2>
    <p><%- todo.meta.category %></p>
  </div>
</td>